.image {
  height: 150px;
  width: auto;
  margin: 20px;
  cursor: pointer;
}
.image:hover {
  box-shadow: 10px 11px 30px -10px rgba(0, 0, 0, 0.5);
}
.active {
  box-shadow: 10px 11px 30px -10px rgba(0, 0, 0, 0.5);
}
.planetDescription {
  margin: auto;
  text-align: center;
}
.spaceshipAssigned {
  background-color: orangered;
  border-radius: 50px;
  width: fit-content;
  padding: 5px 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 5px auto;
}
.removeSymbol {
  margin: 0px 5px;
  font-weight: bold;
  padding: 0px 6px;
  background-color: whitesmoke;
  border-radius: 100%;
  cursor: pointer;
}
